#remote-peer-form-container {
    margin-top: 100px;
}

.page-heading {
    margin: 100px 0px;
    border-bottom: 1px solid grey;
}

.video-row {
    margin: 0px auto;
    padding: auto 0px;
}

#remote-video-col {
    height: 500;
    width: 500;
}

#local-video-col {
    height: 500;
    width: 500;
}